<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Element_HTML</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://unpkg.com/vxe-table/lib/index.css">
    <link rel="stylesheet" href="test.css">
    <script src="https://unpkg.com/vue/dist/vue"></script>
    <script src="https://unpkg.com/element-ui/lib/index"></script>
    <script src="https://cdn.jsdelivr.net/npm/xe-utils"></script>
    <script src="https://cdn.jsdelivr.net/npm/vxe-table"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.5.2/qs.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.7.0/echarts.min.js"></script>
</head>
<body>
<!--单股数据-->
<div id="singleStockTable" class="el-main">
    <!--查询条-->
    <vxe-form :data="formData" @submit="showStockHistory">
        <vxe-form-item title="股票类型" field="stockType">
            <vxe-select v-model="formData.stockType">
                <vxe-option value="0" label="沪市"></vxe-option>
                <vxe-option value="1" label="深市"></vxe-option>
            </vxe-select>
        </vxe-form-item>
        <vxe-form-item title="起始股票代码" field="startCode">
            <vxe-input v-model="formData.startCode" placeholder="请输入起始股票代码"></vxe-input>
        </vxe-form-item>
        <vxe-form-item title="结束股票代码" field="endCode">
            <vxe-input v-model="formData.endCode" placeholder="请输入结束股票代码"></vxe-input>
        </vxe-form-item>
        <vxe-form-item title="开始日期" field="startDate">
            <vxe-input v-model="formData.startDate" placeholder="日期类型" type="date"></vxe-input>
        </vxe-form-item>
        <vxe-form-item title="结束日期" field="endDate">
            <vxe-input v-model="formData.endDate" placeholder="日期类型" type="date"></vxe-input>
        </vxe-form-item>
        <vxe-form-item>
            <vxe-button type="submit" status="primary">查询</vxe-button>
            <vxe-button type="reset">重置</vxe-button>
        </vxe-form-item>
    </vxe-form>
    <!--主表格-->
    <vxe-table
            :seq-config="{startIndex: 0000000}"
            border
            resizable
            show-overflow
            show-header-overflow
            highlight-hover-row
            highlight-current-row
            export-config
            ref="xTable"
            height="300"
            :loading="loading"
            :sort-config="{trigger: 'cell'}"
            :checkbox-config="{checkField: 'checked'}">
        <!-- 日期,股票代码,名称,收盘价,最高价,最低价,开盘价,前收盘,涨跌额,涨跌幅,换手率,成交量,成交金额,总市值,流通市值,成交笔数 -->
        <vxe-table-column type="checkbox" width="40" fixed="left"></vxe-table-column>
        <vxe-table-column type="seq" title="#" width="80" fixed="left"></vxe-table-column>
        <vxe-table-column field="date" title="日期" width="100" fixed="left" sortable></vxe-table-column>
        <vxe-table-column field="stockCode" title="股票代码" width="100" sortable></vxe-table-column>
        <vxe-table-column field="name" title="名称" width="120" sortable></vxe-table-column>
        <vxe-table-column field="closePrice" title="收盘价" width="90" sortable></vxe-table-column>
        <vxe-table-column field="topPrice" title="最高价" width="90" sortable></vxe-table-column>
        <vxe-table-column field="bottomPrice" title="最低价" width="90" sortable></vxe-table-column>
        <vxe-table-column field="openPrice" title="开盘价" width="90" sortable></vxe-table-column>
        <vxe-table-column field="beforeClosing" title="前收盘" width="90" sortable></vxe-table-column>
        <vxe-table-column field="changeAmount" title="涨跌额" width="90" sortable></vxe-table-column>
        <vxe-table-column field="change" title="涨跌幅" width="90" sortable></vxe-table-column>
        <vxe-table-column field="turnoverRate" title="换手率" width="100" sortable></vxe-table-column>
        <vxe-table-column field="tradeCount" title="成交量" width="120" sortable></vxe-table-column>
        <vxe-table-column field="tradeAmount" title="成交金额" width="140" sortable></vxe-table-column>
        <vxe-table-column field="totalValue" title="总市值" width="140" sortable></vxe-table-column>
        <vxe-table-column field="tradeMarketValue" title="流通市值" width="140" sortable></vxe-table-column>
        <vxe-table-column field="dealCount" title="成交笔数" width="100" sortable></vxe-table-column>
    </vxe-table>
</div>
<div id="singleStockChart" class="el-main" style="width: auto;height:500px;" ref="singleStockChart">
</div>
</body>
<script type="text/javascript">
    //// 单股图表
    let singleStockChart = new Vue({
        el: '#singleStockChart',
        data: {},
        methods: {
            getDemoChart: function (ref, stockData) {
                //// 基于准备好的dom，初始化echarts实例
                let myChart = echarts.init(ref)
                //// 指定图表的配置项和数据
                let legendArr = []
                let xAxisData = []
                let seriesData = []
                for (let key in stockData) {
                    if (key == 'undefined') {
                        continue
                    }
                    legendArr.push(key)
                    let loSeresData = []
                    for (let i = 0; i < stockData[key].length; i++) {
                        if (stockData[key][i]['closePrice'] == 0.0) {
                            loSeresData.push(loSeresData[i - 1])
                        } else {
                            loSeresData.push(stockData[key][i]['closePrice'])
                        }
                        if (xAxisData.length < stockData[key].length) {
                            xAxisData.push(stockData[key][i]['date'])
                        }
                    }
                    let tmp = {
                        name: key,
                        type: 'line',
                        smooth: true,
                        data: loSeresData.reverse()
                    }
                    seriesData.push(tmp)
                }
                const option = {
                    tooltip: {
                        //// 当trigger为’item’时只会显示该点的数据，为’axis’时显示该列下所有坐标轴所对应的数据。
                        trigger: 'axis',
                        //// 提示框的位置
                        position: function (pt) {
                            return [pt[0], '10%']
                        }
                    },
                    legend: {
                        data: legendArr
                    },
                    title: {
                        text: '收盘价'
                    },
                    toolbox: {
                        //// feature 各工具配置项: dataZoom 数据区域缩放;restore 配置项还原;saveAsImage下载为图片;magicType动态类型切换
                        feature: {
                            dataZoom: {
                                //// y轴不缩放，Index默认为0
                                yAxisIndex: 'none'
                            },
                            restore: {},
                            saveAsImage: {},
                            magicType: {
                                type: ['bar', 'line']
                            }
                        }
                    },
                    xAxis: {
                        type: 'category',
                        data: xAxisData.reverse()
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: seriesData,
                    //// 内置于坐标系中，使用户可以在坐标系上通过鼠标拖拽、鼠标滚轮、手指滑动（触屏上）来缩放或漫游坐标系
                    dataZoom: [{
                        type: 'inside',
                        start: 0,
                        end: 100
                    }, {
                        start: 0,
                        end: 100,                  // handleIcon 手柄的 icon 形状，支持路径字符串
                        handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                        handleSize: '80%',        //  控制手柄的尺寸，可以是像素大小，也可以是相对于 dataZoom 组件宽度的百分比，默认跟 dataZoom 宽度相同。
                        handleStyle: {
                            color: 'pink',
                            shadowBlur: 3,      // shadowBlur图片阴影模糊值，shadowColor阴影的颜色
                            shadowColor: 'red',
                            shadowOffsetX: 2,
                            shadowOffsetY: 2
                        }
                    }],
                    //// 表格起始位置
                    grid: {
                        show: true,
                        x: 40,
                        x2: 110,
                        y: 50
                    },
                }
                //// 使用刚指定的配置项和数据显示图表。
                myChart.clear()
                myChart.setOption(option)
            }
        }
    })
    //// 历史数据表格
    let singleStockTable = new Vue({
        el: "#singleStockTable",
        data: {
            loading: false,
            formData: {}
        },
        created: function () {
            this.formData = {
                stockType: '1',
                startCode: '000001',
                endCode: '000010',
                startDate: '2019-01-01',
                endDate: this.formatDate(new Date(), 'yyyy-MM-dd')
            }
        },
        methods: {
            getStockHistory: function (formData) {
                return new Promise(function (resolve) {
                    axios({
                        method: 'get',
                        url: singleStockTable.jointUrl('http://quotes.money.163.com/service/chddata.html', formData),
                        responseType: 'arraybuffer'// 或者 blob
                    }).then(response => {
                        const blob = new Blob([response.data])
                        const reader = new FileReader()
                        reader.onload = function () {
                            resolve(this.result)
                        }
                        reader.readAsText(blob, 'gbk')
                    }).catch(error => {
                        console.log(error)
                    })
                })
            },
            showStockHistory: function () {
                let stockChartData = {}
                let stockTableDate = []
                let count = 0
                for (let i = new Number(singleStockTable.formData['startCode']); i <= new Number(singleStockTable.formData['endCode']); i++) {
                    let loCode = '00000' + i;
                    loCode = loCode.substring(loCode.length - 6, loCode.length)
                    let loFormData = {
                        stockType: singleStockTable.formData['stockType'],
                        code: loCode,
                        startDate: singleStockTable.formData['startDate'],
                        endDate: singleStockTable.formData['endDate']
                    }
                    singleStockTable.getStockHistory(loFormData).then(result => {
                        count++
                        let loStockName
                        let loStockData = []
                        let stockResultArr = result.split('\n')
                        for (let i = 1; i < stockResultArr.length - 1; i++) {
                            let dataArr = stockResultArr[i].split(',')
                            loStockName = dataArr[2] + '(' + dataArr[1].substring(1, 7) + ')'
                            let tmp = {
                                date: dataArr[0],
                                stockCode: dataArr[1].substring(1, 7),
                                name: dataArr[2],
                                closePrice: dataArr[3],
                                topPrice: dataArr[4],
                                bottomPrice: dataArr[5],
                                openPrice: dataArr[6],
                                beforeClosing: dataArr[7],
                                changeAmount: dataArr[8],
                                change: dataArr[9],
                                turnoverRate: dataArr[10],
                                tradeCount: dataArr[11],
                                tradeAmount: dataArr[12],
                                totalValue: new Number(dataArr[13]),
                                tradeMarketValue: new Number(dataArr[14]),
                                dealCount: dataArr[15]
                            }
                            loStockData.push(tmp)
                            stockTableDate.push(tmp)
                        }
                        stockChartData[loStockName] = loStockData
                        if (count == new Number(singleStockTable.formData['endCode']) - new Number(singleStockTable.formData['startCode']) + 1) {
                            //// 装载数据
                            singleStockTable.loading = true
                            const xTable = singleStockTable.$refs.xTable
                            if (xTable) {
                                singleStockTable.$refs.xTable.reloadData(stockTableDate).then(() => {
                                    singleStockTable.loading = false
                                })
                            }
                            singleStockChart.getDemoChart(singleStockChart.$refs.singleStockChart, stockChartData)
                        }
                    })
                }
            },
            jointUrl: function (baseUrl, jsonData) {
                baseUrl += '?'
                baseUrl += 'code=' + jsonData['stockType'] + jsonData['code'] + '&'
                baseUrl += 'start=' + jsonData['startDate'].replace(/-/g, "") + '&'
                baseUrl += 'end=' + jsonData['endDate'].replace(/-/g, "")
                return baseUrl
            },
            formatDate: function (now, fmt) {
                let o = {
                    "M+": now.getMonth() + 1, //月份
                    "d+": now.getDate(), //日
                    "H+": now.getHours(), //小时
                    "m+": now.getMinutes(), //分
                    "s+": now.getSeconds(), //秒
                    "q+": Math.floor((now.getMonth() + 3) / 3), //季度
                    "S": now.getMilliseconds() //毫秒
                }
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (now.getFullYear() + "").substr(4 - RegExp.$1.length))
                for (let k in o)
                    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)))
                return fmt
            }
        }
    })
    //// 数据加载
    singleStockTable.showStockHistory()
</script>
</html>